@model List<AboutDTO>
@{
    Layout = "_AdminLayout";
}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Hakkımda Yazıları</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Contents</th>
                        <th>Image</th>
                        <th>Image2</th>
                        <th>Image3</th>
                        <th>Sil/Güncelle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>@item.Title</td>
                             <td>@item.Contents</td>
                            <td>@item.Image</td>
                            <td>@item?.Image2</td>
                            <td>@item?.Image3</td>
                            <td>
                                <button class="btn btn-outline-danger" id="btn1">@Html.ActionLink("Sil", "DeleteAboute",new{id=item.Id}, new { @class="btn btn-warning", onclick = "return confirm('Silmek istediğinizden emin misiniz?')"})</button>
                                <a class="btn btn-outline-warning" href="@Url.Action("GetUpdateAboutIndex" , "Abouts" , new {Id=item.Id,Contents=item.Contents,Title=item.Title,Image=item.Image,Image2=item.Image2,Image3=item.Image3})">Güncelle</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <input style="display:none;" id="bag" value="@ViewBag.Message" />
    </div>
</div>
<script>
    var data = document.getElementById("bag").value;
    console.log("DATA " + data);
    if (data == "Başarılı") {
        swal("Yorum Silindi!", {
            icon: "success",
            button: "Tamam!",
        });
    } else if (data == "Başarısız") {
        swal("Hata Oluştu daha sonra tekrar deneyin!", {
            icon: "error",
            button: "Tamam!",
        });
    } else if (data == "UpdateBaşarılı") {
        swal("Güncelleme işleminiz başarı!", {
            icon: "success",
            button: "Tamam!",
        });
    }
</script>